node_modules
npm-debug.log
Dockerfile.local
.env
.env.*
!.env.example
logs/*
!logs/.gitkeep
uploads/*
!uploads/.gitkeep
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
coverage
dist
.git
.gitignore
README_KOYEB.md
